In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [4]:
df = pd.read_excel("cf.xlsx", sheet_name = "16 FacStaff", 
                   dtype ={'ZIP': str, 'FAC STAFF': str})

In [5]:
df.head()

     ZIP FAC STAF  Distance
0  11354      FAC     190.0
1  13905      FAC     259.0
2  16648      FAC     232.0
3  19106      FAC      83.1
4  19128      FAC      90.1

In [7]:
df['zips'] = df['ZIP'].str.split('-').str.get(0)

In [8]:
df.drop(['ZIP'], axis = 1, inplace = True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 3 columns):
FAC STAF    502 non-null object
Distance    502 non-null float64
zips        502 non-null object
dtypes: float64(1), object(2)
memory usage: 11.8+ KB

In [10]:
df[df['Distance'] > 150]

    FAC STAF  Distance   zips
0        FAC     190.0  11354
1        FAC     259.0  13905
2        FAC     232.0  16648
131      FAC     487.0  43215
132      FAC     712.0  47401
133      FAC     863.0  53211
134      FAC    1423.0  76209
135      FAC    2762.0  97703
156      FAC     800.0  60555
157      FAC    1727.0  80919
158    STAFF     411.0  01915
160    STAFF     151.0  08742
161    STAFF     326.0  12306
162    STAFF     472.0  14228
164    STAFF     168.0  17870
439    STAFF     211.0  23455
440    STAFF     272.0  24503
441    STAFF     617.0  29412
442    STAFF     498.0  29708
443    STAFF     691.0  30045
444    STAFF     657.0  31322
445    STAFF     591.0  45239
446    STAFF     863.0  53211
447    STAFF    1173.0  70115
448    STAFF    1187.0  70403
449    STAFF    1423.0  76209
450    STAFF    2856.0  94558
451    STAFF     332.0  01007
497    STAFF     708.0  30004
498    STAFF    1105.0  33904
499    STAFF     638.0  49091
500    STAFF    1176.0  55408
501    STAFF    2836.0  98055

In [11]:
df.loc[df['Distance'] > 150, 'Distance'] = 3

#### Falculty carboon foot print

In [13]:
# create a new dataframe names df2 with only Faculty
df2 = df[df['FAC STAF'] == "FAC"]['Distance']

In [14]:
# number of rows in df2
df2.count()

158

In [15]:
# total miles after considering total number of working days
(df2*2*(70+90)).sum()

1214688.0

In [16]:
# passenger / miles
(df2).sum()/158

24.024683544303798

#### Staff carbon footprint

In [17]:
# create a new dataframe names df2 with only Faculty
df3 = df[df['FAC STAF'] == "STAFF"]['Distance']

In [18]:
# total staff count 
df3.count()

344

In [19]:
# total miles traveled by staff
(df3*2*(70+90+(72-20))).sum()

2108000.8

In [20]:
# passenger/miles
(df3).sum()/344

14.452616279069769